.chart-area {
  margin-bottom: 3rem;
  box-shadow: 0 4px 6px 4px #a1a1a166;
  background-color: #ffffff;
}

.container h2 {
  margin-top: 0;
  background-color: var(--theme-colour);
  color: #ffffff;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-weight: 100;
}

.chart-legend {
  font-size: 1.5rem;
  padding-bottom: 3rem;
}

.chart-legend span {
  padding-left: 2rem;
}

@media (max-width: 768px) {
  .container h1 {
    font-size: 1.3rem;
  }

  .container h2 {
    font-size: 1.2rem;
  }

  .chart-legend span {
    font-size: 1rem;
    padding-left: 0.5rem;
  }
}
