:root {
  --green: rgba(30, 175, 30, 0.576);
  --dark-green: rgba(23, 163, 23, 0.733);
}

body {
  margin: 0;
  background-color: #f1f1f17e;
}

body,
input {
  font-family: Arial, Helvetica, Verdana, sans-serif;
}

.navbar {
  float: left;
  width: 20%;
  background-color: white;
}

.navbar > ul {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 20%;
  position: fixed;
  height: 100%;
  overflow: hidden;
  background-color: white;
}

ul {
  padding-inline-start: 0rem;
}

ul > div {
  margin-bottom: 2rem;
  border: 1px solid rgba(200, 200, 200, 1);
  box-shadow: 0 4px 6px 4px rgba(161, 161, 161, 0.4);
  background-color: white;
}

li.brand {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  color: var(--dark-green);
  font-weight: 100;
}

li a {
  font-size: 1.5rem;
  color: black;
  display: block;
  text-decoration: none;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

li a.active {
  background-color: var(--green);
  color: white;
  border-left: 0.5rem solid var(--dark-green);
}

li a:hover:not(.active) {
  color: var(--green);
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 20%;
  text-align: center;
}

.container h1 {
  color: var(--dark-green);
  font-weight: 100;
  padding-top: 1rem;
  margin-top: 0;
}

.date {
  background-color: var(--green);
  color: white;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.5rem;
}
.task {
  /* border: 2px solid rgb(255, 47, 238); */
}

.start-time {
  /* border: 2px solid rgb(255, 147, 47); */
}

.end-time {
  /* border: 2px solid rgb(47, 248, 255); */
}

.remove-entry-btn {
  font-size: 1rem;
  color: white;
  background-color: rgb(182, 0, 0);
  outline: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  li.brand {
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
  }
  li a {
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
