:root {
  --theme-colour: #1eaf1e93;
  --theme-colour-dark: #17a317bb;
  --grey-light: #c8c8c8;
  --grey-dark: #6a6a6a;
}

body {
  margin: 0;
  background-color: #f1f1f17e;
}

body,
input {
  font-family: Arial, Helvetica, Verdana, sans-serif;
}

.navbar {
  float: left;
  width: 20%;
  background-color: #ffffff;
}

.navbar > ul {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 20%;
  position: fixed;
  height: 100%;
  overflow: hidden;
  background-color: #ffffff;
}

ul {
  padding-inline-start: 0rem;
}

ul > div {
  margin-bottom: 3rem;
  box-shadow: 0 4px 6px 4px #a1a1a166;
  background-color: #ffffff;
}

li.brand {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  color: var(--theme-colour-dark);
  font-weight: 100;
}

li a {
  font-size: 1.5rem;
  color: var(--grey-dark);
  display: block;
  text-decoration: none;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

li a.active {
  background-color: var(--theme-colour);
  color: #ffffff;
  border-left: 0.5rem solid var(--theme-colour-dark);
}

li a:hover:not(.active) {
  color: var(--theme-colour);
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 20%;
  text-align: center;
}

.container h1 {
  color: var(--theme-colour-dark);
  font-weight: 100;
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-top: 0;
}

label {
  padding-left: 1rem;
  color: var(--grey-dark);
}

#elapsed-time {
  padding-left: 1rem;
  color: red;
  font-size: 1.2rem;
}

#task-input {
  display: block;
  font-size: 1.5rem;
  margin: 0 auto;
  padding: 0.8rem;
  width: 60%;
  text-align: center;
  border: 0.1rem solid var(--grey-light);
  margin-bottom: 1rem;
  color: var(--grey-dark);
  outline: none;
}

::placeholder {
  color: var(--grey-light);
}

#project-input {
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem;
  border: 0.1rem solid var(--grey-light);
  color: var(--grey-dark);
  outline: none;
  cursor: pointer;
}

#date-input {
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem;
  border: 0.1rem solid var(--grey-light);
  color: var(--grey-dark);
  outline: none;
  cursor: pointer;
}

#stop-btn {
  display: none;
  background-color: #bd0000;
}

.timer-btn {
  text-transform: uppercase;
  margin: 0 auto;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  margin-left: 1rem;
  color: #ffffff;
  border: 0.1rem solid var(--grey-light);
  outline: none;
  cursor: pointer;
  background-color: var(--theme-colour);
  font-size: 1.2rem;
  margin-top: 1rem;
}

.date {
  background-color: var(--theme-colour);
  color: #ffffff;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  font-size: 1.5rem;
  text-align: center;
}

.task-item {
  border-bottom: 0.1rem solid var(--grey-light);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: left;
  color: var(--grey-dark);
}

.task {
  border-right: 0.1rem solid var(--grey-light);
  padding-right: 1rem;
}

.project {
  padding-left: 1rem;
}

.project-a {
  color: #ff0000;
}

.project-b {
  color: #ff99aa;
}

.project-c {
  color: #5ac0ff;
}

.project-d {
  color: #ffa500;
}

.times {
  letter-spacing: 0.1rem;
  float: right;
}

.remove-entry-btn {
  font-size: 2rem;
  outline: none;
  cursor: pointer;
  border: none;
  width: 100%;
  color: red;
  background-color: #ffffff;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #00000080;
  padding-top: 5%;
  padding-left: 10%;
}

.modal-content {
  border: 0.1rem solid var(--grey-light);
  background-color: #ffffff;
  margin: auto;
  padding: 2rem;
  width: 40%;
  font-size: 1.2rem;
  color: red;
}

.close {
  color: var(--grey-light);
  float: right;
  font-size: 3rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #00000080;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container h1 {
    font-size: 1.3rem;
  }

  li.brand {
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
  }

  li a {
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  label,
  #elapsed-time {
    font-size: 0.9rem;
  }

  #task-input {
    font-size: 1rem;
    margin: 0 auto;
    padding: 0.5rem;
    width: 70%;
    margin-bottom: 1rem;
  }

  #project-input {
    display: block;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    width: 16rem;
  }

  #date-input {
    display: block;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    width: 15rem;
  }

  .timer-btn {
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }

  .date {
    font-size: 1.2rem;
  }

  .task-item {
    font-size: 0.9rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
